body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;

  background-image: url('/public/full-bloom.png') !important;
}


.ui.menu .dropdown.item .menu{
  z-index: 101;
}

p.word-wrap {
  word-wrap: break-word;
}