body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;

  /* background-image: url('/public/full-bloom.png') !important; */
  background-image: url('/public/christmas_opaque_50.png') !important;

}


.ui.menu .dropdown.item .menu{
  z-index: 101;
}

p.word-wrap {
  word-wrap: break-word;
}

@media (min-width: 767px) { 
  img.fit-image {
    object-fit: contain  !important;
    width: 100%  !important;
    height: 200px  !important;
    /* background-image: url('/public/full-bloom.png') !important; */
    background: #FFFFFF !important;
  }
}

/* 
.ui.card>.extra, .ui.cards>.card>.extra {
  background-image: url('/public/full-bloom.png') !important;
} */

/* img {
  display: block;
  width: 100%;
  height: auto;
} */